@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  font-family: "Segoe UI";
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
body.dark {
  background-color: #1a1a1a;
  color: #ffffff;

  nav a {
    color: #fff;
  }
}
body.dark li {
  background-color: #333 !important;
  box-shadow: 0px 0px 1px 2px #444 !important;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  user-select: none;

  a {
    list-style: none;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    transition: transform 0.2s;
  }

  a:hover {
    transform: scale(1.1);
  }
  a:active {
    transform: scale(0.9);
  }

  button {
    padding: 5px 8px;
    border: none;
    background-color: #ccc;
    border-radius: 7px;
    font-weight: 600;
    transition: transform 0.2s;
  }
  button:active {
    transform: scale(0.9);
  }
}

/*ESTILOS PARA EL PROYECTO DE API-BASICA*/
/*
#root {
  text-align: center;
  user-select: none;

  div {
    user-select: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;

    input {
      background-color: #ccc;
      border: none;
      outline: none;
      font-size: 20px;
      border-radius: 4px;
    }

    button {
      padding: 5px 8px;
      border: none;
      background-color: #ccc;
      border-radius: 7px;
      font-weight: 600;
      transition: transform 0.2s;
    }

    button:active {
      transform: scale(0.9);
    }
  }

  ul {
    li {
      background-color: #f9f9f9;
      padding: 10px;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 0 1px 2px #ddd;

      button {
        background-color: red;
        color: white;
        padding: 7px 10px;
        border-radius: 100%;
        border: none;
        transition: transform 0.3s ease;
      }

      button:hover {
        transform: scale(1.1);
        background-color: rgb(253, 67, 67);
      }

      button:active {
        transform: scale(0.9);
      }
    }
  }
}*/




/*ESTILOS PARA EL PROYECTOS DE PELICULAS*/
#root {
  text-align: center;
  user-select: none;

  div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    input {
      background-color: #f2f2f2;
      border: none;
      outline: none;
      font-size: 20px;
      border-radius: 4px;
    }

    button {
      padding: 5px 8px;
      border: none;
      background-color: #ddd;
      border-radius: 7px;
      font-weight: 600;
      transition: transform 0.3s ease;
    }

    button:active {
      transform: scale(0.9);
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;


    li {
      list-style: none;
      background-color: #e6e5e5;
      border-radius: 12px;
      display: block;
      transition:transform 0.3s ease;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
      }

      h3 {
        display: block;
        padding: 24px 16px;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-family: Oswald;
        font-weight: 600;
      }
    }

    li:hover{
      transform: scale(1.05);
    }
  }

  #btnCargar {
    padding: 5px 8px;
    border: none;
    background-color: #ddd;
    border-radius: 7px;
    font-weight: 600;
    margin: auto;
    transition: transform 0.3s ease;
  }

  #btnCargar:active {
    transform: scale(0.9);
  }
}
